<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="title">Libros y Perritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  

  <ion-list>
    <ion-item *ngFor="let book of books" class="book-item">
      <ion-avatar slot="start" class="avatar">
        <img [src]="book.dogImage" alt="Perro" />
      </ion-avatar>
      <ion-label class="book-title">{{ book.title }}</ion-label>

      <ion-button
        (click)="saveBookAndImage(book.title, book.dogImage)"
        expand="block"
        fill="solid"
        color="primary"
        class="save-button"
      >
        Guardar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>






